<h1>All Listings</h1>
<!--
<% if @current_user.present? %>
  <p>You are logged in as  <%= @current_user.email  %></p>
<% end %>
-->
  <div class="row">
    <% @listings.each do |l| %>
      <div class="col-md-3">
        <div class="card">
          <%# image_tag l.image, :class => 'thumb' if l.image.present? %>
          <% if l.image.present? %>
            <%= cl_image_tag l.image, :class => 'thumb' %>
          <% else %>
            <%= image_tag '/assets/default.png', :class => 'thumb' %>
          <% end %>
          <div class="card-body">
            <h5><%= link_to l.name, listing_path(l.id) %></h5>
            <p class="card-text"><%= number_to_currency(l.price) %></p>
            <p class="card-text"><%= truncate l.description, :length => 35 %></p>
            <%= truncate @story, :length => 30 %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% if @current_user.present? %>
  <%= link_to 'New Listing', new_listing_path, :class => 'btn btn-primary btn-lg'   %>
<% end %>
<br>
