<!DOCTYPE html>
<html>
  <head>
    <title>Twosm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'About Us', pages_about_path %>
      <%= link_to 'Contact Us', pages_contact_path %>
    </nav>
    <%= yield %>
    <p>&copy; twoSM 2021</p>
  </body>
</html>
